  *{
            margin: 0;
            padding: 0;
            border: 0;
        }
        html{
            font-family: arial;
            font-size: 62.5%;   
            scroll-behavior:smooth ;
             }
        header{
            background: linear-gradient(to top, white, red );
            color: azure;
            font-size: 1.8rem;
            padding: 1rem;
            position: fixed;
            width:100% ;
            
        }
        footer{
            background: linear-gradient(to bottom, white,red);
            color:black;
            text-align: center;
            font-size: 1.8rem;
            padding: 2rem;
 
        
        }
        .conteudo{
            font-size: 1.6rem;
            background-color: white;
            padding: 1.5rem;
            text-align: left;
            margin: 0 auto;
            max-width: 95%;
        }
    
    .conteudo-topo{
        background-color:white ;
        font-size:1.6rem ;
        padding: 1..5rem;
        text-align: left;
        margin: 0 auto;
        max-width: 95%;
        padding-top: 31rem;
    }

    h1{
        font-size: 2rem;
        text-align: center;
        text-shadow: 1px 1px 1px black;
        color:red;
        
    }


    h2{
        font-size: 1.9rem;
    }


        h3{
            font-size: 1.7rem;
        }


        h4{
            font-size: 1.6rem;
        }
        h5{
            font-size: 3rem;
            color: red;
            text-shadow: 1px 1px 1px black;
            text-align: center;

        }

        p{
            font-size: 1.6rem;
            font-family: arial;
            padding: 1rem;
        }
    figure{
        text-align: center;
        padding: 1rem;
    }
        .imagens-site{
            border-radius: 10px 10px 10px 10px;
            width: 70%;
            height: 50%;
            border: solid;
        }
      @media(min-width: 280px) and (max-width: 1200px){
            .imagens-site{
                border-radius: 10px 15px 10px 15px;
                width: 90%;
                height: 70%;
                
            }    
        }
        #compras{
            background-color: rgba(255, 215, 0, 0.5);
            width: 300px;
            height: 150px;
            right: 0;
            position:fixed;
            text-align: center;
            margin-top: 21rem;
            z-index: 1;
            border-radius: 20px;
            padding-top: 30px;
            border: solid rgb(0, 255, 0);
        }
        @media(min-width:280px) and (max-width:820px){

            #compras{
                background-color: rgba(255, 215, 0, 0.5);
                width: 160px;
                height: 100px;
                right: 0;
                position:fixed;
                text-align: center;
                margin-top: 25rem;
                z-index: 1;
                border-radius: 20px;
                padding-top: 5px;
                border: solid rgb(0, 255, 0);
            }
        }

        #grid_conteudo{
            background-color: white;
            padding-top: 25rem;
                }
        .grid{
            display: grid;
            grid-gap: 1px;
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr) );
            max-width: 1200px;
            margin: 0 auto;        
        }
   .grid div{
    text-align: center;
    
    padding: 0.5rem;
   }
   #formulario{
    background-color:darkgrey;
   }
   input{
    border: solid;
    padding:5px ;
    border-radius: 10px;
    font-family: Arial;
    font-size: 1.8rem;
   }
   #mensagem{
    border: solid;
    padding: 5px;
    border-radius: 10px;
     font-size:1.3rem ;
   }
   #btn-limpar{
    background-color:red;
    padding: 5px;
    color: aliceblue;
    text-align: center;
    font-weight: bold;
   }
   #btn-enviar{
    background-color: green;
    padding: 5px;
    color: aliceblue;
    text-align: center;
    font-weight: bold;
   }
   nav{
    text-align: right;
    font-size: 1.6rem;
    word-spacing: 30px;
    margin-right: 5%;
    padding-bottom: 5px;
   }
   a{
    text-decoration: none;
    color: yellow;
    font-weight: bold;
    text-shadow:1px 1px 2px black;
    background-color: rgb(255, 0, 0);
    padding: 5px;
    border-radius: 10px;
    border:solid yellow;
   }
   a:hover{
    color: white;
    text-shadow: 1px 1px 2px black;
    background-color: rgb(255, 0, 0);
    padding: 5px;
    border-radius: 10px;
    border: solid yellow;
   }
   #btn-compras{
text-align: center;
   }